body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-image: url(https://c.tenor.com/irM8uiNlaUMAAAAM/penguin-slide.gif);*/
}

h1, h3, h4, nav {
    color: green;
}

a:link {
    color: navy;
    text-decoration: none;
}

a:visited {
    color: firebrick;
}